<form class="wfrp4e trade-recipe item-sheet craft-recipe {{cssClass}}" autocomplete="off">
    {{> modules/anvil-and-arcana-wfrp4/templates/sheets/recipe/craft-recipe-header.hbs category="TYPES.Item.anvil-and-arcana-wfrp4.recipe" }}
</form>